{% extends 'enroll/base.html' %} {% block content %}

<div
	class="content"
	style="
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
	"
>
	{% for st in stu %}
	<div class="card mb-3" style="max-width: 540px; display: flex">
		<div class="row g-0">
			<div class="col-md-4" style="display: flex; align-items: center">
				<img
					src="http://127.0.0.1:8000/myticket/{{st.thumnail}}"
					class="img-fluid rounded-start"
					alt=""
				/>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Seller: {{st.name}}</h5>
					<p class="card-text">Ticket No: {{st.desc}}</p>
					<p class="card-text">Quality: {{st.quality}}</p>
					<p class="card-text">Price: {{st.price}}$</p>
					<p class="card-text"
						><small class="text-muted">Time Public: {{st.time_pub}}</small></p
					>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
