{% extends 'enroll/base.html' %} {% block content %}
<h1>Signup</h1>
<form class="site-form" action="{% url 'accounts:signup' %}" method="post">
	{% csrf_token %}
	<!-- {{form}} -->
	<label for="exampleFormControlInput1" class="form-label">User Name</label>
	<input
		name="username"
		class="form-control"
		placeholder="Enter your user name"
	/>

	<label for="exampleFormControlInput1" class="form-label">Password</label>
	<input
		name="password1"
		class="form-control"
		type="password"
		placeholder="Enter your password"
	/>

	<label for="exampleFormControlInput1" class="form-label"
		>Password confirmation</label
	>
	<input
		name="password2"
		type="password"
		class="form-control"
		placeholder="Enter your confirmation"
	/>
	<button style="margin: 20px 50%" type="submit" class="btn btn-primary btn-lg"
		>Sign Up</button
	>
</form>
{% endblock %}
